.Champagne_overview {
  width: 100%;
  margin-left: 80px;
  margin-right: 80px;
}

.accordion {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
}

.container {
  padding-top: 20px;
}

.reviewAccordion {
  font-size: 20px;
  padding: 5px;
  margin-bottom: 2px;
  border-top: 1px solid rgb(197, 203, 213);
  border-bottom: 1px solid rgb(197, 203, 213);
  width:100%;
}

.arrow{
  float: right;
  height: 30px;
}

.overview{
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
}

.description {
  margin-top: 50px;
  margin-bottom: 20px;
}

.description-title {
  font-size: 25px;
}